# Local build environment (Python and CMake)
build_env/

# Scratch directory to test out cmake + ninja build environment
cmake-test*/


# CLion default CMake build folder
cmake-build*/

# Ignore JetBrains generated project files
.idea/

# Release packages from public repos
external/CLI11/